h1 {
    font-size: 36px;
    color: #4a4a4a;
}

header {
    background-color: #F0F8FF;
    padding: 140px 0 100px 0;
    background-image: url('../img/dog-header.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.section {
    padding: 60px 0 40px;
}

.first-section {
    background-color: white;
}

.second-section {
    background-color: #FBFBFB;
}

.second-section img {
    height: 75px;
    width: 75px;
    margin: 25px 0 10px;
}

.second-section p {
    color: #9DA2A6;
}

.nav-item {
    margin: 10px 16px;
}

.third-section {
    background-color: white;
}

.third-section img {
    margin-top: 35px;
}

.fourth-section {
    background-color: #F0F8FF;
    background-image: url('../img/dogs-pattern.png');
    background-repeat: repeat;
    background-size: 192px 192px;
}

footer {
    background-color: white;
    padding: 35px 0;
}

.footer-logo {
    height: 22px;
    margin-bottom: 3px;
    width: 22px;
}

ul {
    border-radius: 8px;
    background-color: #F7F9FC;
}

.navbar-brand img {
    height: 46px;
    margin-left: 8px;
    width: 46px;
}

@media(min-width: 576px) {
    h1 {
        font-size: 48px;
    }

    .section {
        padding: 100px 0;
    }

    header {
        padding: 200px 0;
    }
}

@media(min-width: 768px) {
    .first-section {
        margin-bottom: 20px;
    }

    .third-section img {
        margin-top: 0;
    }
}

@media(min-width: 992px) {
    .first-section img {
        margin-bottom: 0;
    }
} 

