body {
    color: #4a4a4a;
}


header {
    background-color: #F0F8FF;
    padding: 200px 0;
    background-image: url('../img/dog-header.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.first-section {
    background-color: white;
}

.section {
    padding: 60px 0 40px;
}

img {
    border-radius: 25px;
}

ul {
    margin-top: 25px;
    padding: 30px 55px;
    border-radius: 8px;
    background-color: #F7F9FC;
}

li {
    margin-bottom: 8px;
}

